# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
myenv/
venv/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env

# Terraform (future)
.terraform/
*.tfstate
*.tfstate.backup